<style>
    form {
        width: 380px;
        margin: 4em auto;
        padding: 3em 2em 2em 2em;
        background: #fafafa;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0,0,0.5,0.54902) 0px 1px 1px 0px,rgba(0,0,0.5,0.05804) 0px 1px 2px 0px;
    }

    .group {
        position: relative;
        margin-bottom: 45px;
    }

    .modal-content{
        height:500px;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        -webkit-appearance: none;
        display: block;
        background: #fafafa;
        color: #636363;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #757575;
    }

    input:focus { outline: none; }


    /* Label */

    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: all 0.2s ease;
    }


    /* active */

    input:focus ~ label, input.used ~ label {
        top: -20px;
        transform: scale(.75); left: -2px;
        /* font-size: 14px; */
        color: #4a89dc;
    }


    /* Underline */

    .bar {
        position: relative;
        display: block;
        width: 100%;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #4a89dc;
        transition: all 0.2s ease;
    }

    .bar:before { left: 50%; }

    .bar:after { right: 50%; }


    /* active */

    input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


    /* Highlight */

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }


    /* active */

    input:focus ~ .highlight {
        animation: inputHighlighter 0.3s ease;
    }


    /* Animations */

    @keyframes inputHighlighter {
        from { background: #4a89dc; }
        to 	{ width: 0; background: transparent; }
    }


    /* Button */

    .button {
        position: relative;
        display: inline-block;
        padding: 12px 24px;
        margin: .3em 0 1em 0;
        width: 100%;
        vertical-align: middle;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        letter-spacing: 1px;
        background: transparent;
        border: 0;
        border-bottom: 2px solid #3160B6;
        cursor: pointer;
        transition: all 0.15s ease;
    }
    .button:focus { outline: 0; }


    /* Button modifiers */

    .buttonBlue {
        background: #4a89dc;
        text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
    }

    .buttonBlue:hover { background: #357bd8; }


    /* Ripples container */

    .ripples {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: transparent;
    }


    /* Ripples circle */

    .ripplesCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.25);
    }

    .ripples.is-active .ripplesCircle {
        animation: ripples .4s ease-in;
    }


    /* Ripples animation */

    @keyframes ripples {
        0% { opacity: 0; }

        25% { opacity: 1; }

        100% {
            width: 200%;
            padding-bottom: 200%;
            opacity: 0;
        }
    }
</style>
<!--<h1 style="text-align: center;">-->
    <!--RISK SCORE CALCULATOR FOR BUSINESSES-->
<!--</h1>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" ui-sref="insights">
            <a class="nav-link" href="">Visualization</a>
        </li>
        <li class="nav-item active" ui-sref="auction">
            <a class="nav-link" href="">Auction Data</a>
        </li>
        <li class="nav-item" ui-sref="insights">
            <a class="navbar-brand" href="">Sports Data Analysis</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div>
        <div class="row " style="margin-top: 5%">
            <div class="jumbotron jumbotron-fluid ist-group col-md-12" style="background: mistyrose;">
                <div class="container text-center">
                    <h1 class="display-4">Data that matters..!</h1>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="row col-md-12">
                <div class="col-md-12">
                    <table class="table table-bordered" style="background: white">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Runs</th>
                            <th scope="col">Wickets</th>
                            <th scope="col">Age</th>
                            <th scope="col">Type</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Buy?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in players">
                            <td>{{player.Player}}</td>
                            <td>{{player.Runs}}</td>
                            <td>{{player.Wickets}}</td>
                            <td>{{player.Age}}</td>
                            <td>{{player.Type}}</td>
                            <td>{{player.Rating}}</td>
                            <td>{{player.Buy}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li style="cursor: pointer" ng-click="previous()" class="page-item"><a class="page-link">Previous</a></li>
                            <li style="cursor: pointer" ng-click="next()" class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row " style="margin-top: 5%">
            <div class="jumbotron jumbotron-fluid ist-group col-md-12" style="background: mistyrose;">
                <div class="container text-center">
                    <h1 class="display-4">Players with potential</h1>
                    <p class="lead">Our model identifies these players with great potential in the league.</p>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="row col-md-12">
                <div class="col-md-12">
                    <table class="table table-bordered" style="background: white">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Runs</th>
                            <th scope="col">Wickets</th>
                            <th scope="col">Age</th>
                            <th scope="col">Type</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Buy?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in youngPlayers">
                            <td>{{player.Player}}</td>
                            <td>{{player.Runs}}</td>
                            <td>{{player.Wickets}}</td>
                            <td>{{player.Age}}</td>
                            <td>{{player.Type}}</td>
                            <td>{{player.Rating}}</td>
                            <td>{{player.Buy}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row " style="margin-top: 5%">
            <div class="jumbotron jumbotron-fluid ist-group col-md-12" style="background: mistyrose;">
                <div class="container text-center">
                    <h1 class="display-4">Players with experience you do not want to lose</h1>
                    <p class="lead">These players are veterans of the league and their experience comes handy in a close match.</p>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="row col-md-12">
                <div class="col-md-12">
                    <table class="table table-bordered" style="background: white">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Runs</th>
                            <th scope="col">Wickets</th>
                            <th scope="col">Age</th>
                            <th scope="col">Type</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Buy?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in expsPlayers">
                            <td>{{player.Player}}</td>
                            <td>{{player.Runs}}</td>
                            <td>{{player.Wickets}}</td>
                            <td>{{player.Age}}</td>
                            <td>{{player.Type}}</td>
                            <td>{{player.Rating}}</td>
                            <td>{{player.Buy}}</td>
                        </tr>
                        </tbody>

                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li style="cursor: pointer" ng-click="previousExp()" class="page-item"><a class="page-link">Previous</a></li>
                            <li style="cursor: pointer" ng-click="nextExp()" class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
